.property-container {
    margin: 6rem auto;
    .back-page {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0 0 4rem 8rem;

        img {
            width: 2.5rem;
        }
    }

    .property-description-container {
        display: flex;
        justify-content: space-around;

        .property-photos {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .property-main-photo {
                background-image: url("../../assets/Images/house-1.svg");
                background-repeat: no-repeat;
                border: 1px solid red;
                border-radius: 20px;
                width: 22rem;
                max-width: 24rem;
                height: auto;
                min-height: 30rem;
            }

            .zoom-photo-btn-container {
                .zoom-photo-btn {
                    border-radius: 40px;
                    border: 1px solid var(--lines);
                    display: flex;
                    gap: 1.5rem;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 0.5rem 0 0.5rem 0;
                    font-size: 1.1rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: background-color 0.3s ease-in-out;

                    &:hover {
                        background-color: var(--lines);
                    }
                }
            }

        }

        .property-info {

            .property-title {
                display: flex;
                justify-content: space-between;
            }

            .property-adress-container {
                display: flex;
                justify-content: space-between;

                .property-location {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;

                    img {
                        width: 1.2rem;
                    }

                    p {
                        color: var(--text);
                    }
                }
            }
        }

    }
}