.header-section {
    background-color: var(--color-primary);
    border-bottom: 3px solid var(--lines);
    width: 100%;
    height: clamp(4rem, 10vw, 5.2rem);

    .header-content {
        display: flex;
        justify-content: space-around;

        .logo-header {
            position: relative;
            top: clamp(1rem, 2vw, 1rem);
            width: clamp(2rem, 12vw, 5.5rem);
            cursor: pointer;
        }

        .menu-items-header {
            display: flex;
            gap: 1.2rem;
            align-items: center;

            font-family: var(--font-secondary);
            font-weight: 600;
            font-size: 1.2rem;

            a {
                cursor: pointer;
                transition: 0.3s ease-in-out;
            }
        }

        .menu-items-header a:hover {
            color: var(--lines);
            border-bottom: 1px solid var(--lines);
        }

        .social-media-icons-container {
            display: flex;
            gap: 0.8rem;
            align-items: center;

            a {
                background-color: rgba(255, 255, 255, 0.197);
                border-radius: 40px;
                padding: 0.5rem;
                width: 1.7rem;
                align-items: center;
                text-align: center;
            }

            img {
                width: 1.5rem;
            }
        }

        .social-media-icons-container a:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}