footer {
    background-image: url('../../assets/Images/footer.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;

    .text-footer {
        text-align: center;
        width: 100%;
        max-width: 54rem;
        margin: auto;
        font-family: var(--font-footer);
        font-size: 1.9rem;
        color: white;
        padding: 8rem 2rem 5rem 2rem;
    }

    @media (max-width: 1024px) {
        .text-footer {
            max-width: 90vw;
            font-size: 1.5rem;
            padding: 6rem 0 4rem 0;
        }
    }

    @media (max-width: 600px) {
        margin-top: 30px;

        .text-footer {
            max-width: 95vw;
            font-size: 1.1rem;
            padding: 5rem 1rem;
        }
    }
}