.aboutus-section {
    margin: 6rem auto 0 auto;

    .aboutus-description-container {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .aboutus-description {
            width: 55%;

            .aboutus-title {
                font-size: 2rem;
                font-weight: 500;
            }

            .aboutus-text {
                color: var(--text);
                margin-top: 2.5rem;
                font-size: 1.2rem;
                width: 69%;

                span {
                    font-weight: bold;
                }
            }
        }

        .aboutus-logo {
            width: 26rem;
        }
    }

    .div-aboutus {
        border: 1px solid var(--lines);
        margin: 6rem 0;
    }

    .aboutus-cards-container {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .aboutus-card {
            border: 1px solid var(--color-primary);
            border-radius: 30px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            width: 20rem;
            padding: 1.3rem;
            margin-bottom: 4rem;

            .aboutus-card-name {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2rem;

                .aboutus-card-icon {
                    width: 4rem;
                    align-items: center;
                    text-align: center;
                }
            }

            .aboutus-card-description {
                margin: auto;
                width: 90%;
                line-height: 1.4rem;
            }
        }
    }
}