.aboutus-section {
    margin: 6rem auto 0 auto;

    .aboutus-description-container {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .aboutus-description {
            width: 55%;

            .aboutus-title {
                font-weight: 500;
            }

            .aboutus-text {
                color: var(--text);
                margin-top: 2.5rem;
                font-size: clamp(1rem, 5vw, 1.2rem);
                width: 69%;

                span {
                    font-weight: bold;
                }
            }
        }

        .aboutus-logo {
            width: clamp(18.5rem, 40vw, 26rem);
            border-radius: 20px;
        }
    }

    .div-aboutus {
        border: 1px solid var(--lines);
        margin: 6rem 0;
    }

    .aboutus-cards-container {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .aboutus-card {
            border: 1px solid var(--color-primary);
            border-radius: 30px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            width: 20rem;
            padding: 1.3rem;
            margin-bottom: 4rem;

            .aboutus-card-name {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2rem;

                .aboutus-card-icon {
                    width: 4rem;
                    align-items: center;
                    text-align: center;
                }
            }

            .aboutus-card-description {
                margin: auto;
                width: 90%;
                line-height: 1.4rem;
            }
        }
    }

    @media (max-width: 1200px) {
        .aboutus-description-container {
            width: 95%;
            margin: auto;

            .aboutus-description {
                .aboutus-text {
                    width: 95%;
                }
            }
        }

        .aboutus-cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            .aboutus-card {
                flex: 0 0 20rem;
                margin-bottom: 1rem;
                height: auto;
                min-height: 26rem;
            }
        }
    }

    @media (max-width: 768px) {
        .aboutus-description-container {
            flex-direction: column-reverse;
            align-items: center;
            gap: 1.5rem;

            .aboutus-description {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .aboutus-title {
                    width: 85%;
                    text-align: center;
                }

                .aboutus-text {
                    width: 85%;
                    margin-top: 1.5rem;
                    text-align: left;
                }
            }

            .aboutus-logo {
                margin-bottom: 1rem;
            }
        }

        .aboutus-cards-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .aboutus-card {
                width: 90%;
                max-width: 22rem;
                margin: 0 0 1rem 0;
                height: auto;
                min-height: 24rem;
            }
        }
    }

    @media (min-width: 323px) and (max-width: 415px) {
        .aboutus-cards-container {
            .aboutus-card {
                max-width: 16.5rem;
                min-height: 32rem;
            }
        }
    }
}